In [79]:

import pandas as pd

In [80]:
df = pd.read_csv('synthetic_ecommerce_data3_clean1.csv', sep = ';')

In [81]:
df.columns

Index(['customer_Id', 'age', 'gender', 'item_purchased', 'purchase_amount_usd',
       'time', 'day_of_week', 'location', 'season', 'review_rating',
       'subscription_status', 'shipping_type', 'previous_purchased_frequency',
       'payment_method', 'Unnamed: 14', 'Unnamed: 15'],
      dtype='object')

In [82]:
type(df.columns)

pandas.core.indexes.base.Index

In [83]:
for col in df.columns:
    print(repr(col))

'customer_Id'
'age'
'gender'
'item_purchased'
'purchase_amount_usd'
'time'
'day_of_week'
'location'
'season'
'review_rating'
'subscription_status'
'shipping_type'
'previous_purchased_frequency'
'payment_method'
'Unnamed: 14'
'Unnamed: 15'

In [84]:
df.shape

(50000, 16)

In [85]:
df['age'].describe()

count    50000.000000
mean        38.914000
std         12.345443
min          0.000000
25%         31.000000
50%         39.000000
75%         47.000000
max         65.000000
Name: age, dtype: float64

In [86]:
promedio_edad = df.loc[df['age'] > 0, 'age'].mean()

In [87]:
df.loc[df['age'] == 0, 'age'] = promedio_edad

C:\Users\Lau\AppData\Local\Temp\ipykernel_7776\1907773602.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '39.70816326530612' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['age'] == 0, 'age'] = promedio_edad

In [88]:
df['age'] = df['age'].round().astype(int)

In [89]:
df['gender'].isna().sum()

np.int64(1000)

In [90]:
df['gender'] = df['gender'].fillna('not specified')

In [91]:
df['gender'].value_counts()

gender
Female           25464
Male             23536
not specified     1000
Name: count, dtype: int64

In [92]:
df['item_purchased'].isna().sum()

np.int64(1000)

In [93]:
df['item_purchased'].value_counts()

item_purchased
Blazer        1288
Scarf         1277
Jacket        1268
Beanie        1267
Jeans         1266
Polo Shirt    1266
Jewelry       1260
Swimsuit      1251
Clutch        1247
Handbag       1247
Hoodie        1246
Watch         1243
Leggings      1243
Sandals       1242
Dress         1237
Belt          1237
Sneakers      1236
Blouse        1236
Trousers      1233
Umbrella      1233
Heels         1232
Raincoat      1232
Socks         1232
Wallet        1221
Boots         1220
Flip Flops    1220
Tie           1214
Sunglasses    1207
Coat          1204
T-Shirt       1203
Cardigan      1201
Pyjamas       1199
Skirt         1198
Shorts        1185
Backpack      1184
Hat           1182
Suit          1175
Gloves        1171
Vest          1161
Sweater       1136
Name: count, dtype: int64

In [94]:
df['item_purchased'] = df['item_purchased'].fillna('Unknown')

In [96]:
df['location'].value_counts()

location
London        14865
Birmingham     7363
Liverpool      5007
Leeds          4968
Manchester     4926
Bristol        3946
York           3498
Bath           2478
Nottingham     2449
lonndonn        500
Name: count, dtype: int64

In [97]:
df['subscription_status'].value_counts()

subscription_status
No     39985
Yes    10015
Name: count, dtype: int64

In [98]:
df['payment_method'].value_counts(

)

payment_method
PayPal        12398
Debit Card    12394
Transfer      12371
Cash          12337
Debir Card      500
Name: count, dtype: int64

In [99]:
df['day_of_week'].value_counts()

day_of_week
Sunday       9889
Saturday     7463
Tuesday      6614
Wednesday    6533
Friday       6529
Monday       6527
Thursday     6445
Name: count, dtype: int64

In [100]:
df['shipping_type'].value_counts()

shipping_type
Next Day    16751
Express     16632
Standard    16617
Name: count, dtype: int64

In [ ]:
df.rename(columns={'purchase_amount_usd':'value_in_pounds'})

In [ ]:
df.to_csv("dataset_raw1.csv", index=False)      # antes de limpiar
df.to_csv("dataset_clean1.csv", index=False)    # despu√©s de limpiar